@{
    ViewData["Title"] = "ホームページ";
}

<div class="text-center">
    <h1 class="display-4">@* @User.Identity.Name さん、 *@ようこそ</h1>
    <p>高度な検索で必要なドキュメントを見つけましょう。</p>
    <div class="mt-4">
        <a asp-controller="Search" asp-action="Index" class="btn btn-primary me-2">ドキュメント検索</a>
        <a asp-controller="Upload" asp-action="Index" class="btn btn-success">ドキュメントアップロード</a>
    </div>
</div>
